#usuario {
	background-color: white;
	height: 350px;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	color: #3b5998;
}

label {
	display: inline-block;
	width:140px;
	text-align: right;
	padding: .2em;
	color: #3b5998;
	border: 1px solid white;
	font-size: 110%;
	vertical-align: middle;
}
#btn-enviar {
	background: #6495ED;
	color: white;
	width: 120px;
	padding: .2em;
	border: 1px solid #6495ED;
		border-collapse: collapse;
		font-size:medium;
}
h2{
	text-align: center;
}
