.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active> a:hover {
    color: #ffffff;
    background-color: #12a3d6;
    background-image: url(../imagenes/hover.png); 
    background-repeat: no-repeat;
    background-position: bottom;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 31px;
}

.btn-blog{
	margin-top: 10px;
	background-color: #f98561;
	color: #ffffff;
	border: none;

}
.btn-search{
	background-color: transparent;
	border: none;
}

.btn-search:hover{
	opacity: 0.8;
	background-color: transparent;
}

.carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin: 0;
    background-color:#729fcf;
    text-align: right;
    border: 3px solid #F98561;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    left: 15%;
    top :20%;
    color: #fff;
    text-align: center;
    
}

.container-fluid {
    padding-right: 15px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;

}

.carousel-indicators li {

    background-color:#adadad;
    width: 14px;
    height: 14px;
    border: 1px  #000000;


    }

.carousel-indicators{
    text-align:right;

}

.btn-carousel{
background-color: #f98561;
color: #ffebca;
width:200px;
height:40px; 
font-size:18px; 

}

#contenido{

    background-color: #f4f4f4;

}

.btn-portfolio{
    background-color:#2190c1;
    color:white;
    margin-top: 20px;
}

#Portfolio{

    background-color:#2e3e4f
}
#Fcuadro
{
    background-color:#bebebe;
    border: 8px solid #ffffff;
    text-align:center;
    height:222px;
    width:260px;
}
#tiPortfolio
{
    color:#c2725c;
}

#infPortfolio
{
    color:white;
    font-size:12px;

}

#titOffer
{
    color:#2190c1;
    text-align:center;
}

#infOffer
{
    text-align:center;
}

#Oferta
{
    background-color:#f4f4f4
}

#desOffer
{
    font-size:12px;
}

#desTiOffer
{
    color:#2b99cc;
}

#offerBoton{
    text-align:right;
}

.btn-offerBoton
{
    background-color:#2190c1;
    color:white;
} 

#parrTestimonios
{
    font-size:25px;
    text-align:center;
}

#parrTestimonios2
{
    font-size:12px;
    text-align:center;
}

#margen
{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#margen2
{
    padding-left: 100px;
    padding-right: 0px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#margen3
{
    padding-left: 0px;
    padding-right: 100px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}



